* {
  box-sizing: border-box;
  margin: 0;
}
html {
  height: 100%;
  background-color: #f1f5f9;
  font-family: sans-serif;
}
body {
  height: 100%;
  padding: 5px;
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  line-height: 1.5;
}
body {
  background-color: #1b1b1b;
  color: wheat;
}
a {
  color: lightpink;
}
a:visited {
  color: pink;
}
h1 {
  color: lightcoral;
  font-size: 4rem;
}
.skill {
  color: lightsalmon;
  line-height: 25px;
  text-decoration: underline lightcoral;
  text-decoration-thickness: 5px;
}
