---
import '../styles/global.css'
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Hello Astro-world'

let string = 'This is a string';
/* let toggle = true;
let intervalId = setInterval(changeString, 4000);

function changeString() {
  if (toggle) {
    string = 'This is another string';
    toggle = false;
  } else {
    string = 'This is a string';
    toggle = true;
  }
}
setTimeout(() => {
  clearInterval(intervalId);
}, 60000); */
---

<BaseLayout pageTitle={pageTitle}>
    <p>
      I declared a variable called string and it equals to: {string}
    </p>
    <p>
      As of now the code I wrote to change the variable every 4 seconds does not
      change the rendered string, because that code is executed once at build-time <br/>
      Though the server console logs out a new string every 4 seconds... <br/>
      console logs out a new string even if the "console.log" is commented out
    </p>
    <a href="./blog/post1"><h3>Look at some markdown!</h3></a>
    <a href="./about">This is another page</a>
</BaseLayout>
